body {
    background-color: rgb(145, 0, 0);
    color: white;
}
.card {
    margin-top: 1%;
    border: solid 2px black;
    background-color: rgba(0, 0, 0, 0.459);
}
.cardBody {
    text-align: center;
    padding: 10%;
    
}
.arrow {
    color: white;
}
.redes {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 10% 0 0 10%;
}
.pokeball {
    max-height: 60px;
    -webkit-transition: -webkit-transform .5s ease-in-out;
    -ms-transition: -ms-transform .5s ease-in-out;
    transition: transform .5s ease-in-out; 
}
.pokeball:hover {
    transform:rotate(360deg);
    -ms-transform:rotate(360deg);
    -webkit-transform:rotate(360deg);
}