* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
@import url(https://fonts.googleapis.com/css?family=Andika);

/* Estilos del header */
nav{
    display:grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    font-family: sans-serif;
    position:fixed;
    top:0;
    width:100%;
    }
.barra {
    display: flex;
    justify-content: space-between;
    background-color: white;
}
.pokeball {
    max-height: 60px;
    margin: 2px 10px 2px 20px;  
    -webkit-transition: -webkit-transform .5s ease-in-out;
    -ms-transition: -ms-transform .5s ease-in-out;
    transition: transform .5s ease-in-out; 
}
.pokeball:hover {
    transform:rotate(360deg);
    -ms-transform:rotate(360deg);
    -webkit-transform:rotate(360deg);
}
.pokeballcaja {
    width: 300%;
}
.contenedor {
    display: flex;
    justify-content: space-around;
    width: 70%;
}
.paginas {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin: 25px 0px 5px 0px
}
ul {
    list-style-type: none;
  }
  li, a {
    font-family: 'Telex', sans-serif;
    font-weight: 600;
    font-size: 16px;
    color:  black;
    text-decoration: none;
}

.contenedor li a {
    transition: all 0.3s ease 0s;
}

.contenedor li a:hover {
    color: rgb(255, 153, 0);
}

.usuario{
    max-height: 50px;
    margin: 5px 25px 2px 0px; 
}
.wrapper {
    margin: auto;
    overflow:hidden;
  }
  
/* Estilos del body */

body {
    margin-top: 100px;
    background-color: rgb(145, 0, 0);
    
}
/* Boton y filtro*/

.container {
    display: flex;
    justify-content: center;
    margin: 10px;
    
}
#searchBox { 
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.459);
    border: solid 2.5px black;
    border-radius: 5px;
    color: white;
    margin-bottom: 15px;
    font-weight: 650;
}
#buttonsFilter {
    display: flex;
    justify-content: center;
    
}
button {
    padding: 10px;
    margin: 0px 10px 0px 10px;
    border-radius: 20px;
    border: solid 2px black;
    background-color: rgba(0, 0, 0, 0.459);
    color: white;
    transition: all 0.3s ease 0s;
}
button:hover{
    cursor: pointer;
    color:white;
    background-color:rgba(0, 0, 0, 0.856);
    border: solid 2px white;
}



/* Pokemons */


.pokemonBox {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 50px 0 0 0px;
  }

.imgPokemon ,h3 ,p {
    display: flex;
    justify-content: center;
    margin: 20px 0 20px 0;

}
h3, p {
    font-family: 'Telex', sans-serif;
    font-weight: 600;
    font-size: 16px;
    margin-top: -5px;
}
.imgPokemon {
    width: 135px;
    height: 135px;
    margin: -50px 0 -10px 150px;
}
.pokemons {
    margin: 30px 10px 60px 30px;
    width: 400px;
    height: 70%;
    border-radius: 30px;
    background-color: rgb(255, 255, 255);
    transition: all 0.1s ease 0s;
    border: solid 2px white;
    
}
.pokemons:hover {
    
    background-color: orange;
    cursor: pointer;
    color: white;
    transition: all 0.3s ease 0s;
    
   
}
.hide {
    display: none;
  }

.type {
    width: 50px;
    height: 50px;
    margin: -50px 0 0px 50px;
    border: solid 2px white;
    border-radius: 100%;
}
/* Carrito de compras */

#botonDeCompras {
  margin: -5% 0 10px 37%;
  background-color: rgb(145, 0, 0);
  font-family: 'Telex', sans-serif;
  transition: all 0.3s ease 0s;

}
.shoppingCart {
    color: rgb(60, 38, 5);
    transition: all 0.3s ease 0s;
    padding: 20px;
    background-color: white;
    border-radius: 100%;
    font-size: 25px;
}

.shoppingCart:hover {
    color: white;
    cursor: pointer;
    background-color: rgb(30, 31, 38);
}

  .product-name, h5 {
    color: white;
    font-size: 15px;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
  }

  .product-name h6{
    color: white;
    font-size: 15px;
    font-family: 'Raleway', sans-serif;
  }
.shoppingCart .sum-prices {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#sum-prices {
    padding-left: 5px;
}

.sum-prices h6 {
    font-size: 0.9rem;
}

.shoppingCartButton {
    cursor: pointer;
}



.producstOnCart {
    -ms-overflow-style: none; 
    scrollbar-width: none;
    overflow: hidden;
    overflow-y: scroll;
    scroll-behavior: smooth;
    overscroll-behavior: contain;
    background-color: rgba(145, 0, 0, 0.757);
    
    font-family: 'Telex', sans-serif;
    width: 300px;
    height: 500px;
    color: #f0f0f0;
    z-index: 15;
    position: fixed;
    top: 20px;
    right: 0;
    text-align: center;
    animation: fade 1s;
    -webkit-box-shadow: 3px 3px 13px 0px rgba(0,0,0,0.75); 
    box-shadow: 3px 3px 13px 0px rgba(0,0,0,0.75);
}

.producstOnCart::-webkit-scrollbar {
    display: none;
}

.product-under {
    width: 100%;
    height: 100%;
}

@keyframes fade {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: none;
    }
}

.producstOnCart::-webkit-scrollbar {
    width: 0;
    background: transparent;
}

.producstOnCart ul {
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.producstOnCart .buyItem {
    border-bottom: #aaa 1px solid;
    width: 90%;
    padding: 10px 0;
    display: flex;
}

.producstOnCart img {
    width: 90px;
}

.producstOnCart .top {
    display: flex;
    background-color: white;
    text-align: center;
    padding: 10px 0;
    position: sticky;
    top: 0;
    width: 100%;
}

.top button {
    background: transparent;
    border: none;
    font-size: 1.5rem;
    margin-left: 10px;
    color: rgb(255, 153, 0);
    cursor: pointer;
}

.top button:hover {
    color: #e40505;
}

.top h3 {
    position: absolute;
    color: black;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin: 0 auto;
}

.producstOnCart > .checkout {
    font-size: 0.9rem;
    margin: 20px auto;
    border: none;
    background-color: rgb(255, 153, 0);
    padding: 10px 20px;
    color: #eee;
    cursor: pointer;
}


.stopScrolling {
    height: 100vh;
    overflow: hidden;
}

.buyItem h6 {
    margin-bottom: 10px;
}

.buyItem button {
    background: transparent;
    color: #fff;
    cursor: pointer;
    font-weight: 900;
    font-size: 1.2rem;
    padding: 0 6px;
    border: none;
}

.buyItem button:active {
    color: #96c8cc;
}

.buyItem > div {
    padding: 0 20px;
}

.producstOnCart .empty {
    justify-self: center;
    margin: 150px auto;
}

/*Responsive*/

@media screen and (max-width: 720px) {
    img {
      max-width: 100%;
      object-fit: contain;
    }
    .imgPokemon{
        max-width: 50%;
        margin-left: 20%;
    }
  
    .pokemons {
        margin:0 0 40% 12px;
        height: 220px;
        width: 200px;
    }
    .pokemonBox {
      grid-template-columns: auto auto;
      grid-column-gap: 1em;
    }
    .type {
        margin-left: 40%;
    }
    button {
        margin: 2px;
        padding: 5px;
    }
    .buttonValue {
        font-size: 10px;
    } 
    .paginas {
        margin: 10px 10px 0 0;
        font-size: 2px;
    }
    li {
        margin: 5px
    }
    #botonDeCompras {
        margin: -5px 0 3% 27%;
        max-width: 50%;
        align-items: center;
        font-size: 12px;
    }
  }