* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
@import url(https://fonts.googleapis.com/css?family=Andika);

/* Estilos del header */
nav{
    display:grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    font-family: sans-serif;
    position:fixed;
    top:0;
    width:100%;
    }
.barra {
    display: flex;
    justify-content: space-between;
    background-color: white;
}
.pokeball {
    max-height: 60px;
    margin: 2px 10px 2px 20px;  
    -webkit-transition: -webkit-transform .5s ease-in-out;
    -ms-transition: -ms-transform .5s ease-in-out;
    transition: transform .5s ease-in-out; 
}
.pokeball:hover {
    transform:rotate(360deg);
    -ms-transform:rotate(360deg);
    -webkit-transform:rotate(360deg);
}
.pokeballcaja {
    width: 300%;
}
.contenedor {
    display: flex;
    justify-content: space-around;
    width: 70%;
}
.paginas {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin: 25px 0px 5px 0px
}
ul {
    list-style-type: none;
  }
  li, a {
    font-family: 'Telex', sans-serif;
    font-weight: 600;
    font-size: 16px;
    color:  black;
    text-decoration: none;
}

.contenedor li a {
    transition: all 0.3s ease 0s;
}

.contenedor li a:hover {
    color: rgb(255, 153, 0);
}

.usuario{
    max-height: 50px;
    margin: 5px 25px 2px 0px; 
}
.wrapper {
    margin: auto;
    overflow:hidden;
  }
  
/* Estilos del body */

body {
    margin-top: 100px;
    background-color: rgb(145, 0, 0);
    
}
/* Boton y filtro*/

.container {
    display: flex;
    justify-content: center;
    margin: 10px;
    
}
#searchBox { 
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.459);
    border: solid 2.5px black;
    border-radius: 5px;
    color: white;
    margin-bottom: 15px;
    font-weight: 650;
}
#buttonsFilter {
    display: flex;
    justify-content: center;
    
}
button {
    padding: 10px;
    margin: 0px 10px 0px 10px;
    border-radius: 20px;
    border: solid 2px black;
    background-color: rgba(0, 0, 0, 0.459);
    color: white;
    transition: all 0.3s ease 0s;
}
button:hover{
    cursor: pointer;
    color:white;
    background-color:rgba(0, 0, 0, 0.856);
    border: solid 2px white;
}



/* Pokemons */


.pokemonBox {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 50px 0 0 0px;
  }

.imgPokemon ,h3 ,p {
    display: flex;
    justify-content: center;
    margin: 20px 0 20px 0;

}
.pokemons h3, p {
    font-family: 'Telex', sans-serif;
    font-weight: 600;
    font-size: 16px;
    margin-top: -2px;
}
.imgPokemon {
    width: 135px;
    height: 135px;
    margin: -50px 0 0px 150px;
}
.pokemons {
    margin: 30px 10px 60px 15px;
    width: 400px;
    height: 70%;
    border-radius: 30px;
    background-color: rgb(255, 255, 255);
    transition: all 0.1s ease 0s;
    border: solid 2px white;
    
}
.pokemons:hover {
    
    background-color: orange;
    cursor: pointer;
    color: white;
    transition: all 0.3s ease 0s;
    
   
}
.hide{
    display: none;
}

.type {
    width: 50px;
    height: 50px;
    margin: -50px 0 0px 50px;
    border: solid 2px white;
    border-radius: 100%;
}

/* Carrito de compras */

.modalContainer {
    width: 500px;
    margin: 0 2%;
    max-height: 88vh;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    font-family: sans-serif;
    -ms-overflow-style: none; 
    scrollbar-width: none;
    overflow: hidden;
    overflow-y: scroll;
    scroll-behavior: smooth;
    overscroll-behavior: contain;
    background-color: rgb(29, 30, 34);
    font-family: 'Telex', sans-serif;
    
    color: #f0f0f0;
    z-index: 15;
    position: fixed;
    top: 20px;
    right: 0;
    text-align: center;
    animation: fade 1s;
    -webkit-box-shadow: 3px 3px 13px 0px rgba(0,0,0,0.75); 
    box-shadow: 3px 3px 13px 0px rgba(0,0,0,0.75);
    position: fixed;
    overflow: auto;
    z-index: 9;
    top: 12vh;
    scrollbar-color: none;
}
.modalContainer::-webkit-scrollbar{
    display: none;
}

.modalHeader {
    display: flex;
    justify-content: space-around;
    background-color: black;
    color: #fff;
    width: 500px;
    position: fixed;

}

.modalHeaderTitle {
    margin-left: 30%;
    justify-self: start;
}
.modalHeaderButton {
    cursor: pointer;
}
.nombreCarrito {
    font-size: 15px;
    margin-left: 8px;
    margin-right: 8px;
}
.precioCarrito {
    margin-top: 20px;
    font-size: 15px;
}
.modalContainer > .modalContent {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 70%;
    margin: 10px;
}

.modalContainer > div > img {
    height: 120px;
    width: 120px;
    margin-top: 30px;
}

.totalContent {
    font-size: 25px;
    padding: 20px;
    text-align: center;
    padding-top: 20px;
}
.carritoVacio {
    font-size: 25px;
    padding: 20px;
    text-align: center;
    padding-top: 50px;
}

#botonDeCompras {
  margin: -5% 0 10px 37%;
  background-color: rgb(145, 0, 0);
  font-family: 'Telex', sans-serif;
  transition: all 0.3s ease 0s;

}
.verCarrito {
    color: rgb(60, 38, 5);
    transition: all 0.3s ease 0s;
    padding: 20px;
    background-color: white;
    border-radius: 100%;
    font-size: 25px;
}

.verCarrito:hover {
    color: white;
    cursor: pointer;
    background-color: rgb(30, 31, 38);
}
.deleteProduct {
    cursor: pointer;
    margin-left: 20px;
    margin-top: -30px;
}
.cantidadCarrito {
    background-color:orange;
    color: white;
    transition: all 0.3s ease 0s;
    border-radius: 80%;
    padding: 4px;
    padding-right: 8px;
    padding-left: 8px;
    top: 30px;
    right: 8px;
    position: absolute;
    display: none;
}

.sumar {
 cursor: pointer;   
 margin-right: 25px;
}

.restar {
 cursor: pointer;   
 margin-left: 25px;
}
.compraTotal {
    margin-top: -8px;
    margin-bottom: 5px;
}
/*Responsive*/

@media screen and (max-width: 720px) {

    .verCarrito {
        font-size: 15px;
        padding: 10px;
        margin-top: 15px;
        margin-left: 5px;
        margin-right: 5px;
    }
  
    .usuario{
        margin-top: 15px;
    }
    img {
        max-width: 100%;
        object-fit: contain;
    }
    .imgPokemon{
        max-width: 50%;
        margin-left: 20%;
    }
    .modalContainer {
        font-size: 5px;
        max-width: 55%;
    }
    .modalHeader{
        max-width: 55%;
        padding-top: 1%;
        font-size: 8px;
    }
  
    .totalContent{
        font-size: 12px;
    }
  
    .pokemons {
        margin:0 0 40% 12px;
        height: 220px;
        width: 200px;
    }
    .pokemonBox {
      grid-template-columns: auto auto;
      grid-column-gap: 1em;
    }
    .type {
        margin-left: 40%;
    }
    button {
        margin: 2px;
        padding: 5px;
    }
    .buttonValue {
        font-size: 10px;
    } 
    .paginas {
        margin: 10px 10px 0 0;
        font-size: 2px;
    }
    li {
        margin: 5px
    }
    #botonDeCompras {
        margin: -5px 0 3% 27%;
        max-width: 50%;
        align-items: center;
        font-size: 12px;
    }
 
    .modalContainer > div > img {
        height: 30px;
        width: 30px;
        margin-top: -2px;
    }

    .modalContainer p {
        margin-top: 20px;
        font-size: 10px;
    }
    .modalContainer h3 {
        margin-bottom: -10px;
        font-size: 12px;
    }
    .cantidadCarrito{
        font-size: 10px;
        padding: 2px;
        padding-right: 4px;
        padding-left: 4px;
    }
    .sumar{
        font-size: 15px;
        margin-right: 10px;
    }
    .restar{
        font-size: 15px;
        margin-left: 10px;
    }
    .deleteProduct{
        font-size: 10px;
        margin-top: 1px;
    }
    .Cantidad {
        margin-left:10px ;
        margin-right:10px ;
    }
    .carritoVacio {
        font-size: 15px;
    }
    .compraTotal {
        margin-bottom: 5px;
        margin-top: -5px;
    }
  }